PORT=5000
MONGO_URI=mongodb://localhost:27017/intellmeet
JWT_SECRET=supersecret_intellmeet_token_2026
REDIS_URL=redis://localhost:6379
OPENAI_API_KEY=your_openai_api_key_here
CLOUDINARY_URL=your_cloudinary_url_here
